body {
  margin: 0;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

header,
main,
footer,
nav,
.full-width-row {
  float: left;
  width: 100%;
}

header {
  background-color: rgb(235, 98, 26);
}

header img {
  width: 40%;
  margin-left: 30%;
}

.bold {
  font-weight: bold;
}

.half-column {
  width: 40%;
  margin: 10px 2.5%;
  padding: 10px 2.5%;
  background-color: rgb(255, 51, 153);
  /* background-color: #ff3399; */
  color: white;
  float: left;
}

.fluid-content {
  max-width: 100%;
  text-align: center;
}

/* --------------------- NAV STYLE --------------------- */

.menu-desktop {
  padding-left: 0;
  margin: 35px 0;
  list-style-type: none;
}

.menu-desktop li {
  /* display: inline-block; */
  float: left;
  width: 25%;
  text-align: center;
}

.menu-desktop li:hover {
  background-color: #555;
}

.menu-desktop li a {
  text-decoration: none;
  color: #555;
}

.menu-desktop li:hover a {
  color: white;
}

.menu-desktop li:hover ul {
  display: initial;
  width: 100%;
}

.parent-menu {
  position: relative;
}

.parent-menu ul {
  position: absolute;
  left: 0;
  top: 18px;
}

.submenu {
  list-style-type: none;
  padding-left: 0;
  display: none;
  background-color: #555;
  color: white;
}

.submenu li {
  float: none;
  width: 100%;
  padding-top: 12px;
}

/* --------------------- /NAV STYLE --------------------- */

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
}

#videoyt {
  display: none;
}

/* --------------------- TABLET BREAKPOINT --------------------- */
@media screen and (max-width: 1279px) {
  .wrapper {
    width: 96%;
  }

  .half-column {
    width: 90%;
  }
}

/* --------------------- MOBILE BREAKPOINT --------------------- */
@media screen and (max-width: 479px) {
  .wrapper {
    width: 100%;
  }

  .half-column {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
